<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div class="messages">
            {% for message in messages %}<div class="message-{{ message.tags }}">{{ message }}</div>{% endfor %}
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="input__item">
                <input type="email" placeholder="Ваша электронная почта" name="email">
                <span class="icon_mail"></span>
            </div>
            <button type="submit" class="site-btn">Сбросить пароль</button>
        </form>
    </body>
</html>
