{% extends "base.html" %}
{% block content %}
    <section class="base_section reset_password_section">
        <div class="reset_password_title">
            <h2>Сброс пароля</h2>
            {% if user.is_authenticated %}
                <h3>Вы уже авторизированы!</h3>
                <a href="{% url "logout" %}">
                    <h5>Выйти из аккаунта?</h5>
                </a>
            {% endif %}
        </div>
        <div class="messages">
            {% for message in messages %}<div class="message-{{ message.tags }}">{{ message }}</div>{% endfor %}
        </div>
        {% if not user.is_authenticated %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="input__item">
                    <input type="email" placeholder="Ваша электронная почта" name="email">
                    <span class="icon_mail"></span>
                </div>
                <button type="submit" class="base_button reset_password_button">Сбросить пароль</button>
            </form>
        {% endif %}
    </section>
{% endblock content %}
