<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ministore shop</title>
    </head>
    <body>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="input__item">
                    <i class="fa-solid fa-{{ field.label }}"></i>
                    {{ field.label }}{{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="site-btn">Зарегистрироваться!</button>
        </form>
    </body>
</html>
