{% load static %}
<section id="watch-products"
         class="product-store position-relative padding-large no-padding-top">
    <div class="container">
        <div class="row">
            <div class="display-header d-flex justify-content-between pb-3">
                <h2 class="display-7 text-dark text-uppercase">Товары со скидкой</h2>
                <div class="btn-right">
                    <a href="{% url "discount_products" %}"
                       class="btn btn-medium btn-normal text-uppercase">В магазин</a>
                </div>
            </div>
            <div class="swiper product-swiper">
                <div class="swiper-wrapper">
                    {% for product in discount_products %}
                        <div class="swiper-slide">
                            <div class="product-card position-relative">
                                <div class="image-holder">
                                    <img src="{{ MEDIA_URL }}{{ product.image.url }}"
                                         alt="product-item"
                                         class="img-fluid">
                                </div>
                                <div class="card-detail d-flex justify-content-between align-items-baseline pt-3 product-item">
                                    <h3 class="card-title text-uppercase">
                                        <a href="{% url "product" product.slug %}">{{ product.name }}</a>
                                    </h3>
                                    <span class="item-price text-primary is_discount">{{ product.price }}</span>
                                    <span class="text-primary product__discount">Скидка: {{ product.discount }}%</span>
                                    <span class="item-price text-primary">{{ product.discount_price }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
