/*---------------------
  General style
-----------------------*/

.base_section {
    padding-top: 8.5em;
}

.product__discount {
    color: #13653f !important;
}

.base_button {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}

.base_a {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}
/*---------------------
  Index Page
-----------------------*/

.banner-image img{
    width: 500px !important;
    height: 500px !important;
}

.product-item {
    text-align: center;
    display: block !important;
}

.product-item span {
    display: block !important;
}

.is_discount {
    text-decoration: line-through !important;
    color: red !important;
}

/*---------------------
  Catalog Page
-----------------------*/

.category_section {
    margin-bottom: 10em;
}

.categories {
    display: grid !important;
}

.category_section_title {
    display: inline-flex;
}

.category_section_body {
    padding-top: 2.5em;
    display: inline-flex;
}

.category {
    margin-left: 50px;
}
.category_section__title ::before {
    content: "> ";
}

.category__image img {
    width: 250px;
    height: 250px;
}

.category__name {
    padding-top: 1em;
    text-align: center;
}

/*---------------------
  Composite Category Page
-----------------------*/

.catalog_link h2::before {
    content: "> ";
}

.category_link ::before {
    content: "> ";
}

.available_categories {
    text-align: center;
}

/*---------------------
  Category Page
-----------------------*/

.category_compose_link {
    display: inline-flex;
}

.category_compose_link h2::before {
    content: "> ";
}

.product {
    text-align: center;
}

.product__image img {
    width: 250px;
    height: 250px;
}

.product__price {
    display: grid !important;
}

/*---------------------
  Product Page
-----------------------*/

.product_section {
    margin-bottom: 10em;
}

.product_section_title {
    display: inline-flex;
}

.product_category_compose_link {
    display: inline-flex;
}

.product_category_compose_link h2::before {
    content: "> ";
}

.product_catalog_link h2::before {
    content: "> ";
}

.product_section_body {
    margin-top: 2em;
    display: inline-flex;
}

.product_main_info {
    margin-left: 2em;
}

.product__price span {
    font-size: 24px;
}

.product_characteristic {
    display: inline-flex;
    margin-left: 1em;
}

.product_characteristic__value {
    margin-left: 1em;
}

.product_buy {
    margin-top: 5em;
    margin-left: 5em;
}

.product_message {
    text-align: center;
    font-size: 20px;
    color: #a9d18e;
}

/*---------------------
  Singin Page
-----------------------*/

.singin_section {
    text-align: center;
    margin-bottom: 15em;
}

.input__item {
    margin-top: 0.5em;
}

.forget_password {
    margin-top: 1em;
}

.singin_button {
    margin-top: 1em;
}

/*---------------------
  Singup Page
-----------------------*/

.singup_section {
    text-align: center;
    margin-bottom: 15em;
}

.singup_button {
    margin-top: 1em;
}

/*---------------------
  Reset Password Page
-----------------------*/

.reset_password_section {
    text-align: center;
    margin-bottom: 15em;
}

.reset_password_title {
    margin-bottom: 1em;
}

.reset_password_button {
    margin-top: 1em;
}

/*---------------------
  Confirm Reset Password Page
-----------------------*/

.confirm_reset_password_section {
    text-align: center;
    margin-bottom: 15em;
}

.confirm_reset_password_button {
    margin-top: 1em;
}

/*---------------------
  Cart Page
-----------------------*/

.cart_section {
    margin-bottom: 15em;
}

.cart_title {
    text-align: center;
}

.carts {
    margin-top: 2em;
}

.cart {
	background: whitesmoke;
	border: none;
	border-radius: 2px;
	margin-left: 20em;
    display: inline-flex;
    width: 1350px;
    margin-bottom: 2em;
    position: relative;
}

.cart_product_info {
    display: grid;
    margin-left: 2em;
    margin-top: 1em;
}

.cart_product_image img {
    width: 250px;
    height: 250px;
    margin: 1em;
}

.cart_product_name {
    letter-spacing: 2px;
	text-transform: uppercase;
}

.cart_action {
    position: absolute;
    right: 0;
    margin-top: 1em;
    margin-right: 5em;
}

.cart_a {
    font-size: 20px;
    margin-right: 0.5em;
}

.carts_sum {
    margin-top: 2.5em;
    margin-left: 20em;
    display: inline-flex;
}

.cart_button {
    margin-left: 1em;
    font-size: 24px;
}
